//card

.card {
  background: linear-gradient(
    333deg,
    rgba(235, 227, 220, 1) 0%,
    rgba(204, 192, 160, 1) 100%
  );
  overflow: hidden;
  transition: transform 500ms ease;
}
.card-scale {
  flex-wrap: wrap;
}

.card-scale:hover,
.card-scale:focus {
  opacity: 1.2;
  transition: all 0.5s ease;
  transform: scale(1.1, 1.1);
}

.card-content {
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  transform: translateY(75%);
  transition: transform 500ms ease;
}

.card:hover .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

//color lista tarjeta producto
.list-group-item {
  background: linear-gradient(
    333deg,
    rgba(235, 227, 220, 1) 0%,
    rgba(204, 192, 160, 1) 100%
  );
}
