$Degraderosa: rgb(235, 227, 220);
$Degradeverde: linear-gradient(to left, #6e6f55, #9aa179);
$CardAltura: 120px;

.navbar {
  background: rgb(204, 192, 160);
  background: linear-gradient(
    90deg,
    rgba(204, 192, 160, 1) 0%,
    rgba(154, 161, 121, 1) 52%,
    rgba(110, 111, 85, 1) 97%
  );
}

section {
  background: rgb(204, 192, 160);
  background: linear-gradient(
    90deg,
    rgba(204, 192, 160, 1) 0%,
    rgba(154, 161, 121, 1) 52%,
    rgba(110, 111, 85, 1) 97%
  );
}

.section-section {
  background: rgb(154, 161, 121);
  background: linear-gradient(
    180deg,
    rgba(154, 161, 121, 1) 17%,
    rgba(204, 192, 160, 1) 68%,
    rgba(204, 192, 160, 1) 84%
  );
}

.card {
  background: linear-gradient(
    333deg,
    rgba(235, 227, 220, 1) 0%,
    rgba(204, 192, 160, 1) 100%
  );
}
.card-scale {
  flex-wrap: wrap;
}

.card-scale:hover,
.card-scale:focus {
  opacity: 1.2;
  transition: all 0.5s ease;
  transform: scale(1.1, 1.1);
}

.list-group-item {
  background: linear-gradient(
    333deg,
    rgba(235, 227, 220, 1) 0%,
    rgba(204, 192, 160, 1) 100%
  );
}

.btn {
  flex-wrap: wrap;
}

.btn:hover,
.btn:focus {
  opacity: 1.2;
  transition: all 0.5s ease;
  transform: scale(1.1, 1.1);
}

.accordion-button {
  background: rgb(204, 192, 160);
  background: linear-gradient(
    90deg,
    rgba(204, 192, 160, 1) 0%,
    rgba(154, 161, 121, 1) 52%,
    rgba(110, 111, 85, 1) 97%
  );
}

.accordion-item {
  background: rgb(204, 192, 160);
  background: linear-gradient(
    90deg,
    rgba(204, 192, 160, 1) 0%,
    rgba(154, 161, 121, 1) 52%,
    rgba(110, 111, 85, 1) 97%
  );
}

.card-body-altura {
  height: $CardAltura + 150;
}
