.navbar {
  background: #ccc0a0;
  background: -webkit-gradient(linear, left top, right top, from(#ccc0a0), color-stop(52%, #9aa179), color-stop(97%, #6e6f55));
  background: linear-gradient(90deg, #ccc0a0 0%, #9aa179 52%, #6e6f55 97%);
}

section {
  background: #ccc0a0;
  background: -webkit-gradient(linear, left top, right top, from(#ccc0a0), color-stop(52%, #9aa179), color-stop(97%, #6e6f55));
  background: linear-gradient(90deg, #ccc0a0 0%, #9aa179 52%, #6e6f55 97%);
}

.section-section {
  background: #9aa179;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #9aa179), color-stop(68%, #ccc0a0), color-stop(84%, #ccc0a0));
  background: linear-gradient(180deg, #9aa179 17%, #ccc0a0 68%, #ccc0a0 84%);
}

.card {
  background: linear-gradient(333deg, #ebe3dc 0%, #ccc0a0 100%);
}

.card-scale {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-scale:hover,
.card-scale:focus {
  opacity: 1.2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.list-group-item {
  background: linear-gradient(333deg, #ebe3dc 0%, #ccc0a0 100%);
}

.btn {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn:hover,
.btn:focus {
  opacity: 1.2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.accordion-button {
  background: #ccc0a0;
  background: -webkit-gradient(linear, left top, right top, from(#ccc0a0), color-stop(52%, #9aa179), color-stop(97%, #6e6f55));
  background: linear-gradient(90deg, #ccc0a0 0%, #9aa179 52%, #6e6f55 97%);
}

.accordion-item {
  background: #ccc0a0;
  background: -webkit-gradient(linear, left top, right top, from(#ccc0a0), color-stop(52%, #9aa179), color-stop(97%, #6e6f55));
  background: linear-gradient(90deg, #ccc0a0 0%, #9aa179 52%, #6e6f55 97%);
}

.card-body-altura {
  height: 270px;
}

.introSection {
  background-image: url(../imagenes/Productos/TapizMarlo1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introSection .flex-container {
  color: black;
  border: 3px solid #ebe3dc;
  border-radius: 20px;
  background-color: #ebe3dc;
  opacity: 0.5;
  text-align: justify;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.introSection .flex-container .flex-intro-section .flex-item-intro {
  text-align: center;
  font-size: 13 rem;
  font-weight: 400;
}

.introSection .flex-container .flex-intro-section .flex-item-secundario {
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
}

.introSection .flex-container .flex-intro-section .flex-item-description {
  padding-top: 4rem;
  font-size: 1.2rem;
  line-height: 1.3;
}

.flex-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-container:hover,
.flex-container:focus {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
}

.formulario {
  background: #ccc0a0;
  background: -webkit-gradient(linear, left top, right top, from(#ccc0a0), color-stop(52%, #9aa179), color-stop(97%, #6e6f55));
  background: linear-gradient(90deg, #ccc0a0 0%, #9aa179 52%, #6e6f55 97%);
}

footer a {
  text-decoration: none;
  color: white;
}

footer a a a:hover {
  color: gray;
}

.text-uppercase {
  color: white;
}

.text-uppercase {
  color: white;
}
/*# sourceMappingURL=style.css.map */